In [1]:
import sys
sys.path.append("../")

In [2]:
import pandas as pd
from datetime import datetime
import json
from shields import write_shields_json

In [3]:
# last update badge

data_date_time = datetime.now().strftime('%Y-%m-%d %H:%M')
data_date_time

write_shields_json('../data/last_update.json', label='Last update', message=data_date_time)

In [4]:
bno_csv = '../data/bnonews-international.csv'
df_bno = pd.read_csv(bno_csv, infer_datetime_format=True, index_col='datetime')
df_bno

,Afghanistan,Albania,Algeria,Andorra,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,...,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vatican City,Venezuela,Vietnam,WORLD,Zambia
datetime,,,,,,,,,,,,,,,,,,,,,
2020-02-06 08:03,0,0,0,0,0,0,0,0,15,0,...,0,2,12,0,0,0,0,12,0,0
2020-02-06 08:19,0,0,0,0,0,0,0,0,15,0,...,0,3,12,0,0,0,0,12,0,0
2020-02-06 09:01,0,0,0,0,0,0,0,0,15,0,...,0,3,12,0,0,0,0,12,0,0
2020-02-06 09:46,0,0,0,0,0,0,0,0,15,0,...,0,3,12,0,0,0,0,12,0,0
2020-02-06 17:56,0,0,0,0,0,0,0,0,15,0,...,0,3,12,0,0,0,0,12,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-22 00:12,24,70,102,87,1,158,160,5,1056,2666,...,140,5018,26029,110,37,1,42,92,0,2
2020-03-22 01:08,24,70,102,87,1,158,160,5,1073,2666,...,140,5018,26029,110,37,1,42,92,0,2
2020-03-22 02:09,24,70,102,87,1,158,160,5,1073,2814,...,140,5018,26029,110,37,1,42,92,0,2
2020-03-22 03:10,24,70,102,87,1,158,160,5,1237,2814,...,140,5018,26911,110,37,1,42,92,0,2
2020-03-22 04:08,24,70,102,87,1,158,160,5,1237,2814,...,140,5018,27007,110,37,1,42,92,0,2

In [5]:
latest = df_bno.iloc[-1]

display(latest)

Afghanistan             24
Albania                 70
Algeria                102
Andorra                 87
Antigua and Barbuda      1
                      ...
Vatican City             1
Venezuela               42
Vietnam                 92
WORLD                    0
Zambia                   2
Name: 2020-03-22 04:08, Length: 178, dtype: int64

In [6]:
timestamp = latest.name
display(timestamp)

'2020-03-22 04:08'

In [7]:
# Top 10 countries
del latest['Diamond Princess']
del latest['Queue']
top10_countries = latest.sort_values(ascending=False)[:10]
display(top10_countries)

Italy             53578
United States     27007
Spain             25496
Germany           22364
Iran              20610
France            14459
South Korea        8897
Switzerland        6652
United Kingdom     5018
Netherlands        3631
Name: 2020-03-22 04:08, dtype: int64

In [8]:
top10_str = ' '.join([f'{country}:{cases:}' for country,cases in top10_countries.iteritems()])

display(top10_str)

'Italy:53578 United States:27007 Spain:25496 Germany:22364 Iran:20610 France:14459 South Korea:8897 Switzerland:6652 United Kingdom:5018 Netherlands:3631'

In [9]:
# output json stat 
write_shields_json('../data/top10.json', label='Top 10', message=top10_str)

In [10]:
# Number of cases increase from yesterday breakdown by countries?